body {
    font-family: "Montserrat", "Playfair Display", sans-serif;
    color: #AE7C78;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

.page-header {}

.main-nav {}

.main-nav a {
    color: #AE7C78;
}

.page-main {}

.intro {}

.wordItalic {
    font-style: italic;
}

.button {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 2.5em;
    background-color: #AE7C78;
    color: #ffffff;
}

.advantage {}

.hidden {}

.popular {}

.slider {}

.slider_item {}

.slider_item-description {}

.wordBold {
    font-weight: 700;
}

.slider_item-preview {}

.slider_controls {}

.catalog-preview a {
    color: #ffffff;
}

.sales {
    color: #ffffff;
}

.steps {}

.news {}

.reviews {}

.contacts {}

.contacts a {
    color: #AE7C78;
}

.page-footer {
    background-color: #AE7C78;
}

.page-footer a {
    color: #ffffff;
}

.footer-nav {}