body {
    margin-top: 1%;
    padding: 0%;
    font-family: "Montserrat", "Playfair Display", sans-serif;
    color: #AE7C78;
    background-color: #E5E5E5;
    width: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.page-header {
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
    padding-bottom: 20px;
}

.main-nav {
    text-align: center;
}

.main-nav img {}

.main-nav a {
    padding-right: 5%;
    color: #AE7C78;
}

.page-main {}

.intro {}

.wordItalic {
    font-style: italic;
}

.button {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 2.5em;
    background-color: #AE7C78;
    color: #ffffff;
}

.intro img {
    border-radius: 5%;
}

.advantage {}

.hidden {}

.popular {}

.slider {}

.slider_item {}

.slider_item-description {}

.wordBold {
    font-weight: 700;
}

.slider_item-preview {}

.slider_controls {}

.catalog-preview a {
    color: #ffffff;
}

.sales {
    color: #ffffff;
}

.steps {}

.news {}

.reviews {}

.contacts {}

.contacts a {
    color: #AE7C78;
}

.page-footer {
    background-color: #AE7C78;
    padding-top: 20px;
    padding-bottom: 50px;
}

.page-footer a {
    color: #ffffff;
    padding-right: 5%;
}

.page-footer a img.icon {
    padding-right: 0px;
}

.footer-nav {}